@model BBU_SYSTEM.ViewModel.StudentViewModel
<div class="tab-pane fade" id="custom-tabs-four-parent" role="tabpanel"
     aria-labelledby="custom-tabs-four-parent-tab">
    <label>Father Name</label>
    <input type="text" class="form-control" id="txtDegreeEng" placeholder="" value="@Html.DisplayFor(m=>m.Student!.father_name_in_khmer)">
    <label>Father Occupation</label>
    <input type="text" class="form-control" id="txtDegreeEng" placeholder="" value="@Html.DisplayFor(m=>m.Student!.father_occupation_in_khmer)">
    <label>Mother Name</label>
    <input type="text" class="form-control" id="txtDegreeEng" placeholder="" value="@Html.DisplayFor(m=>m.Student!.mother_name_in_khmer)">
    <label>Mother Occupation</label>
    <input type="text" class="form-control" id="txtDegreeEng" placeholder="" value="@Html.DisplayFor(m=>m.Student!.mother_occupation_in_khmer)">
</div>