@model BBU_SYSTEM.ViewModel.StudentViewModel
<div class="tab-pane fade" id="custom-tabs-four-personalcontact" role="tabpanel"
     aria-labelledby="custom-tabs-four-personalcontact-tab">
    <label>Phone</label>
    <input type="text" class="form-control" id="txtDegreeEng" placeholder="" value="@Html.DisplayFor(m=>m.Student!.phone)">
    <label>Email</label>
    <input type="text" class="form-control" id="txtDegreeEng" placeholder=""  value="@Html.DisplayFor(m=>m.Student!.email)">
    <label>Address</label>
    <textarea type="text" rows="4" class="form-control" id="txtDegreeEng" placeholder=""></textarea>
    <label>Address Khmer</label>
    <textarea type="text" rows="4" class="form-control" id="txtDegreeEng" placeholder=""></textarea>
</div>