@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Branch</h3>
            </div>
            <div class="card-body">
                <table id="tblStudent" class="table table-bordered table-striped" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>Student Id</th>
                        <th>Name English</th>
                        <th>Name Khmer</th>
                        <th>Gender</th>
                        <th>DOB</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
<script>
    function fetchStudent() {
        $("#tblStudent").DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: "/Academic/GetStudentList", // Endpoint to fetch paginated data
                type: "POST"
            },
            columns: [
                { data: "student_id" },
                { data: "student_name" },
                { data: "student_name_in_khmer" },
                { data: "sex" },
                {
                    data: null,
                    render: function (data, type, row) {
                        const dt = formatDate(row.date_of_birth);
                        return `${dt}`
                    }
                },
                { data: "phone" },
                {
                    data: null,
                    render: function (data, type, row) {
                        return `
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">
                                    Action
                                </button>
                                <div class="dropdown-menu" style="min-width: 8rem;">
                                    <div class="col-md-12">
                                        <a href="/details/${row.student_id}" class="btn btn-success btn-sm" style="display: block;margin:.2rem 0rem">Edit</a>
                                         <a href="/academic/details?student_id=${row.student_id}" class="btn btn-warning btn-sm" style="display: block;margin:.2rem 0rem">View</a>
                                        <a class="btn btn-danger btn-sm" style="display: block;margin:.2rem 0rem">Delete</a>
                                    </div>
                                </div>
                            </div>
                            `;
                    }

                }
            ]
        });
    }
    $(document).ready(function () {
        fetchStudent();

        $.ajax({
            url: `/api/mis/${campus()}/high-schools`,
            type: 'GET',
            success: function (data) {
                const dropdown = $('#cboHighSchool');
                $.each(data["data"], function (index, item) {
                    dropdown.append(`<option value="${item.high_school_id}">${item.high_school_id}</option>`);
                });
            },
            error: function (error) {
                console.error('Error fetching nationalities:', error);
            }
        });        
    });

    // Function to handle Edit
    function OnEdit(id) {
        $("#editModal").modal("show");
        $.get(`/api/mis/${campus()}/students/academics/${id}`, function (result) {
            const data = result["data"];
            const student = data["student"];
            const nationality = data["nationality"];
            const province = data["province"];
            const race = data["race"];
            const degree = data["degree"];
            const school = data["school"];
            const field = data["field"];
            const promotion = data["promotion"];
            const stage = data["stage"];
            const term = data["term"];
            const group = data["group"];
            const group_room = data["group_room"];
            $("#txtStudentId").val(student["student_id"]);
            $("#txtStudentName").val(student["student_name"]);
            $("#txtStudentNameKhmer").val(student["student_name_in_khmer"]);

            $("#txtSex").val(student["sex"]);
            const dob = moment(student["date_of_birth"]).format("YYYY-MM-DD");
            $("#txtDOB").val(dob);
            $("#txtPOB").val(province["province"]);
            //$("#txtStatus").val(data["status"]);
        });

        //window.location.href = `/student/details/${data}`;
    }
    function OnView(id) {
        window.location.href = `student/details/${id}`;
    }
</script>